common --action_env=BAZEL_CXXOPTS=-std=c++17
common --cxxopt='-std=c++17'
common --copt=-fdiagnostics-color=always
common --test_output=errors
# compilation_mode options below are `dbg` (debug symbols) `fastbuild`
# (build as quickly as possible), and `opt` (turn on all optimizations)
common -c dbg
common --noenable_bzlmod
# prevents changes to PATH from causing a full rebuild
common --incompatible_strict_action_env
