#ifndef LIB_DIALECT_{{ dialect_name | upper }}_TRANSFORMS_{{ pass_name | upper }}_H_
#define LIB_DIALECT_{{ dialect_name | upper }}_TRANSFORMS_{{ pass_name | upper }}_H_

#include "mlir/include/mlir/Pass/Pass.h" // from @llvm-project

namespace mlir {
namespace heir {
namespace {{ dialect_namespace }} {

#define GEN_PASS_DECL_{{ pass_name | upper }}
#include "lib/Dialect/{{ dialect_name }}/Transforms/Passes.h.inc"

}  // namespace {{ dialect_namespace }}
}  // namespace heir
}  // namespace mlir

#endif  // LIB_DIALECT_{{ dialect_name | upper }}_TRANSFORMS_{{ pass_name | upper }}_H_
