#ifndef LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_TD_
#define LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_TD_

include "lib/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Dialect.td"

include "mlir/IR/AttrTypeBase.td"
include "mlir/IR/DialectBase.td"


#endif  // LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_TD_
