#ifndef LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_H_
#define LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_H_

#include "lib/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Dialect.h"

#define GET_ATTRDEF_CLASSES
#include "lib/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Attributes.h.inc"

#endif  // LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_H_
