#ifndef LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}DIALECT_H_
#define LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}DIALECT_H_

#include "mlir/include/mlir/IR/Builders.h" // from @llvm-project
#include "mlir/include/mlir/IR/Dialect.h" // from @llvm-project

// Generated headers (block clang-format from messing up order)
#include "lib/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Dialect.h.inc"

#endif  // LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}DIALECT_H_
