#ifndef LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}DIALECT_TD_
#define LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}DIALECT_TD_

include "mlir/IR/DialectBase.td"

def {{ dialect_name }}_Dialect : Dialect {
  let name = "{{ dialect_namespace }}";
  let description = [{
    // FIXME: add documentation
    The `{{ dialect_namespace }}` dialect is ...
  }];

  let cppNamespace = "::mlir::heir::{{ dialect_namespace }}";
}

#endif  // LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}DIALECT_TD_
