#ifndef LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}TYPES_TD_
#define LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}TYPES_TD_

include "lib/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Dialect.td"
{% if enable_attributes %}
include "lib/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Attributes.td"
{% endif %}

include "mlir/IR/DialectBase.td"
include "mlir/IR/AttrTypeBase.td"

// A base class for all types in this dialect
class {{ dialect_name }}_Type<string name, string typeMnemonic>
    : TypeDef<{{ dialect_name }}_Dialect, name> {
  let mnemonic = typeMnemonic;
}


#endif  // LIB_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}TYPES_TD_
