#include "lib/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Types.h"


namespace mlir {
namespace heir {
namespace {{ dialect_namespace }} {

}  // namespace {{ dialect_namespace }}
}  // namespace heir
}  // namespace mlir
