package(
    default_applicable_licenses = ["@heir//:license"],
    default_visibility = ["//visibility:public"],
)

cc_library(
    name = "{{ pass_name }}",
    srcs = ["{{ pass_name }}.cpp"],
    hdrs = [
        "@heir//include/Conversion/{{ pass_name }}:{{ pass_name }}.h",
    ],
    deps = [
        "@heir//include/Conversion/{{ pass_name }}:pass_inc_gen",
        "@heir//lib/Conversion:Utils",
        "@heir//lib/Dialect/{{ source_dialect_name }}/IR:Dialect",
        "@heir//lib/Dialect/{{ target_dialect_name }}/IR:Dialect",
        "@llvm-project//mlir:IR",
        "@llvm-project//mlir:Pass",
        "@llvm-project//mlir:Transforms",
    ],
)
