#ifndef LIB_CONVERSION_{{ pass_name | upper }}_{{ pass_name | upper }}_H_
#define LIB_CONVERSION_{{ pass_name | upper }}_{{ pass_name | upper }}_H_

#include "mlir/include/mlir/Pass/Pass.h" // from @llvm-project

namespace mlir::heir {

#define GEN_PASS_DECL
#include "lib/Conversion/{{ pass_name }}/{{ pass_name }}.h.inc"

#define GEN_PASS_REGISTRATION
#include "lib/Conversion/{{ pass_name }}/{{ pass_name }}.h.inc"

}  // namespace mlir::heir

#endif  // LIB_CONVERSION_{{ pass_name | upper }}_{{ pass_name | upper }}_H_
