#ifndef INCLUDE_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_TD_
#define INCLUDE_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_TD_

include "include/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Dialect.td"

include "mlir/IR/AttrTypeBase.td"
include "mlir/IR/DialectBase.td"


#endif  // INCLUDE_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_TD_
