#ifndef HEIR_INCLUDE_DIALECT_{{ dialect_name }}_IR_{{ dialect_name }}ATTRIBUTES_H_
#define HEIR_INCLUDE_DIALECT_{{ dialect_name }}_IR_{{ dialect_name }}ATTRIBUTES_H_

#include "include/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Dialect.h"

#define GET_ATTRDEF_CLASSES
#include "include/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Attributes.h.inc"

#endif  // HEIR_INCLUDE_DIALECT_{{ dialect_name }}_IR_{{ dialect_name }}ATTRIBUTES_H_
