#ifndef HEIR_INCLUDE_DIALECT_{{ dialect_name }}_IR_{{ dialect_name }}ATTRIBUTES_TD_
#define HEIR_INCLUDE_DIALECT_{{ dialect_name }}_IR_{{ dialect_name }}ATTRIBUTES_TD_

include "include/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Dialect.td"

include "mlir/IR/AttrTypeBase.td"
include "mlir/IR/DialectBase.td"


#endif  // HEIR_INCLUDE_DIALECT_{{ dialect_name }}_IR_{{ dialect_name }}ATTRIBUTES_TD_
