#ifndef INCLUDE_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}OPS_H_
#define INCLUDE_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}OPS_H_

#include "include/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Dialect.h"
{% if enable_types %}
#include "include/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Types.h"
{% endif %}
#include "mlir/include/mlir/IR/BuiltinOps.h" // from @llvm-project

#define GET_OP_CLASSES
#include "include/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Ops.h.inc"

#endif  // INCLUDE_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}OPS_H_
