#ifndef INCLUDE_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_H_
#define INCLUDE_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_H_

#include "include/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Dialect.h"

#define GET_ATTRDEF_CLASSES
#include "include/Dialect/{{ dialect_name }}/IR/{{ dialect_name }}Attributes.h.inc"

#endif  // INCLUDE_DIALECT_{{ dialect_name | upper }}_IR_{{ dialect_name | upper }}ATTRIBUTES_H_
