name: Update TODO backlinks
on:
  push:
    branches:
      - main
jobs:
  insert-backlinks:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - name: todo-backlinks
      uses: j2kun/todo-backlinks@12b447ef971f465feb2a7298a1240157e8712942 # pin@v0.0.5
      env:
        GITHUB_TOKEN: ${{ github.token }}
